.image {
   background-image: url('../../../utils/186586-juegos-gratis-divertidos-jugar-tu-navegador.webp');
   margin: 0;
   padding: 0;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}